@import url('https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@200;300;400;500;700;600&display=swap');



*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(8, 8, 8);
}
.header{
    position: relative;
    min-height: 60vh;
    background:url('bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-height: 8vh;
    align-items: center;
}

.nav-items{
    width: 40%;
    display: flex;
    list-style-type: none ;
    justify-content: space-between;
}



.headline{
    color: rgb(52, 50, 50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    
}

.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;

}
.btn-headline{
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}

.section-todo{
    margin-top: 5rem;
    align-items: center;
}

.form-todo{
    
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.form-todo input{
    min-height: 100%;
}
.form-todo input[type="text"]{
    padding: 0.8rem;
    width: 70%;
    font-size: 1rem;
    font-weight: 500;

}
.form-todo input[type="submit"]{
    width: 20%;
    background: rgb(44,45,63);
    color: white;
    font-weight: bold;
}



.section-signup{
    margin: 5rem auto;
    text-align: center;
    background: rgb(240,240,240);
    border-radius: 10px;
    padding: 1rem;
}
.signup-form{
    max-width: 800px;
    text-align: left;
    width: 95%;
    margin: auto;
}
.signup-form label{
    display: block;

}
.signup-form input{
    display: block;
    width: 100%;
    padding: 0.5rem;
}

.form-group{
    margin-top: 1rem;
}

.signup-form textarea{
    width: 100%;
}
.signup-btn{
    background: reg(44,55,63);
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-top: 1rem;

}


@media (max-width: 768px) {
    /* Mobile styles */
  
    .nav-items {
      display: none;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-items.active {
      display: block;
      width: 100%;
    }
  
    .nav-items li {
      display: block;
      margin: 1rem 0;
    }
  
    .headline {
      font-size: 2rem;
    }
    .nav-items {
        width: 60%;
      }
      
      .btn-headline {
        font-size: 0.8rem;
      }
      
      .form-todo input[type="text"] {
        width: 60%;
      }
      
      .form-todo input[type="submit"] {
        width: 30%;
      }
      
      .signup-form {
        max-width: 600px;
      }
}  


